#game_console
{
    padding-left: 629px;
    padding-top: -800px;
}

.Big_image
{
    width: 100%;
    height: 50%;

}

.header{
    width :100%;
}

h4 {
    line-height: 2;
    margin: 0px;
    background-color: seashell;
    position: relative;
    margin-bottom: -800px;
    height: 100%;
    text-align: center;
}
body{
    background-position: center  ;
    background-size: cover;
}